* {
  border: none;
}
h1,
h2,
h3,
h4 {
  color: #ffffff;
}

p,
a {
  color: #e5e5e5;
}

h1,
h2,
h3,
h4,
p,
a {
  font-family: "Inter", sans-serif;
}

h1 {
  font-size: 76px;
  font-weight: 500;
}

h2 {
  font-size: 56px;
  font-weight: 500;
}

h3 {
  font-size: 36px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  list-style-type: none;
  display: inline;
}

.btn {
  width: 190px;
  height: 60px;
  font-size: 19px;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;
  background: linear-gradient(135deg, #665dcd 0%, #5fa4e6 44.76%, #d2ab67 100%);
  border-radius: 2px;
  border: none;
}
