@import "default";

body {
  margin: 0px;
  max-width: 1440px;
  background-color: #1e1e1e;
}

.wrapper {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 20px;

  .logo {
    margin-left: 40px;
  }

  .btn-header {
    margin-right: 40px;
  }

  .nav {
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
  }
  a {
    margin-right: 20px;
    text-transform: uppercase;
    transition: 0.4s;

    &:hover {
      color: rgb(113, 144, 239);
    }
  }
}

section {
  margin-bottom: 100px;
  margin: auto;
}

.main {
  width: 45%;

  h1 {
    margin-bottom: 25px;
  }

  p {
    margin: auto;
    width: 95%;
    margin-bottom: 25px;
    letter-spacing: 1px;
    line-height: 25px;
  }
}
.about {
  width: 50%;
  p {
    margin: auto;
    width: 95%;
    margin-bottom: 25px;
    letter-spacing: 1px;
    line-height: 25px;
  }
}
